@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi&family=Noto+Serif+Old+Uyghur&family=Roboto:wght@300&family=Tinos&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(../private/Landscape\ Sweden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 4.5rem;
    margin-top: -12rem;
    font-family: 'Noto Serif Old Uyghur', serif;
}

#currentDate {
    font-size: 2rem;
}

.countdown-container {
    display: flex;
    flex-direction: column; /* Change to column to stack timer and labels vertically */
    align-items: center; /* Center the items horizontally */
    text-align: center; /* Center the text within the container */
}

.countdown-timer {
    display: flex;
    flex-direction: row; /* Stack timers vertically */
}

.countdown-label {
    display: flex;
    flex-direction: row; /* Stack labels vertically */
}
.labels{
    padding: 2rem;
}
.timer {
    padding: 2rem;
    font-size: 4.5rem;
}

.labels {
    font-size: 1.5rem; /* Adjust the label font size */
    margin-top: -4rem; /* Add some space between timer and label */
    font-family: 'Roboto', sans-serif;
}

.message{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1.4em;
    width: 50%;
}
#daysl{
    position: relative;
    left: 10px;
}
#hoursl{
   position: relative;
   left: 25px;
}
#minutesl{
    position: relative;
    left: 25px;
 }
#secondsl{
    position: relative;
    left: 7px;
 }